/* Javier Gutiérrez Esquinas UO289715 */
/* Estilos generales del proyecto MotoGP-Desktop */
/* Colores: #f5f5f5 (Fondo general), #222831 (Texto general), #1737D3 (Fondo del header), #FFED94 (Texto del h1), #ffffff (Texto del nav) */
/* Contraste: Amarillo y Azul -> 7.05:1
              Azul y blanco -> 8.32:1 */

/*Especificidad: 001*/
body {
    font-family: 'Segoe UI', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #f5f5f5;      /* Fondo general */
    color: #222831;
}

/*Especificidad: 001*/
header {
    background-color: #1737D3;      /* Fondo del header */
    /* Advertencia de color que hereda de body */
}

/*Especificidad: 002*/
header a{
    /*Advertencia de color de background que hereda de body*/
    text-decoration-line: none;
    color: #ffffff;                 /* Color del texto del header */
}

/*Especificidad: 003*/
header h1 a{
    /*Advertencia de color de background que hereda de body*/
    color: #FFED94;                 /* Color del h1 */
}

/*Especificidad: 002*/
header + p {
    font-size: 0.75em; /* Tamaño de las migas */
}

/*Especificidad: 010*/
.active {
    /*Advertencia de color de background que hereda de body*/
    color: #FFED94;
    border-bottom: 0.2em solid #FFED94;
    
}

