/* Javier Gutiérrez Esquinas UO289715 */
/* Estilos generales del proyecto MotoGP-Desktop */

/*Especificidad: 001*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/*Especificidad: 002*/
header nav {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-evenly; /* Separa los enlaces */
}

@media  (min-width: 320px) and (max-width: 799px)  {
    /*Especificidad: 001*/
    header {
        flex-direction: column;
        /*Advertencia por redefinición de flex-direction para la media query*/
    }

    /*Especificidad: 002*/
    header nav {
        /*Advertencia por redefinición de flex-direction para la media query*/
        flex-direction: column;
    }
    /*Especificidad: 003*/
    header nav a{
        flex-direction: column;
        margin: 1em;
    }

    /*Especificidad: 001*/
    p:first-of-type {
        display: none;
    }

    /*Especificidad: 001*/
    video {
        width:100%;
        height:auto;
    }

    /*Especificidad: 001*/
    audio {
        width:100%;
    }
       
       
}