/* Javier Gutiérrez Esquinas UO289715 */
/* Estilos de layout del proyecto MotoGP-Desktop */

/*Especificidad: 001*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/*Especificidad: 002*/
header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 1em;
    justify-content: space-evenly; /* Separa los enlaces */
}

/* Especificidad: 002 */
section label {
    display: block;
}

/* Especificidad: 003 */
section table caption {
    caption-side: top;
}

/* Especificidad: 013 */
main > section:nth-of-type(4) > div {
    width: 100%;
    height: 50em; 
}

@media (min-width: 320px) and (max-width: 799px)  {
    /*Especificidad: 001*/
    header {
        flex-direction: column;
        /*Advertencia por redefinición de flex-direction para la media query*/
    }

    /*Especificidad: 002*/
    header nav {
        /*Advertencia por redefinición de flex-direction para la media query*/
        flex-direction: column;
    }
    
    /*Especificidad: 003*/
    header nav a{
        flex-direction: column;
    }

    /*Especificidad: 002*/
    body > p:first-of-type {
        display: none;
    }

    /*Especificidad: 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad: 001*/
    audio {
        width: 100%;
    }

    /*Especificidad: 003*/
    article h2 + img {
        width: 100%;
        height: auto;
    }

    /*Especificidad: 001*/
    table {
        width: 100%;
    }

    /*Especificidad: 002*/
    table thead {
        display: none;
    }

    /*Especificidad: 002*/
    table tbody tr {
        display: flex;
        flex-direction: column;
    }

    /*Especificidad: 002*/
    table tbody td {
        display: flex;
        justify-content: space-between;
    }
}